################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Center_API/.vs/Center_API
/Center_API/Center_API/bin/Debug
/Center_API/Center_API/obj
